@media screen and (min-width: 430px) and (orientation: portrait) {
    /* --------------------------------------------------------   Header   --------------------------------------------------------*/
    
    #home {
            margin-top: -80vh;
    }
    
    h1 {
        margin-top: 12vh;
    }

    .home-network {
        margin-top: 10vh;
    }

    .home-scroll {
        margin-top: 20vh;
    }

    /* --------------------------------------------------------   Portfolio   --------------------------------------------------------*/
    
    .portfolio-title {
        margin-top: 5vh;
    }

    .h2-portfolio {
        margin-top: 3.5vh;
    }
    
    /* --------------------------------------------------------   Container Skills   --------------------------------------------------------*/
   
    .skill-title {
        margin-top: 5vh;
    }
   
    /* --------------------------------------------------------   Container About Me   --------------------------------------------------------*/
   
    .h2-about-me {
        margin-top: 4.80vh;
    }

    .mail-about-me {
        font-size: 1.2rem;
    }
   
    /* --------------------------------------------------------   FOOTER   --------------------------------------------------------*/

}