@tailwind base;
@tailwind components;
@tailwind utilities;

/* ------------------------------------------- FIN TAILWIND ------------------------------------------- */

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: sans-serif;
}

.bg-color {
    background-color: #060315;
}

.bg-menu {
    background-color: #060315;
    box-shadow: none;
}

/* ------------------------------------------- DEBUT CROIX BURGER ------------------------------------------- */

.line1 {
    transform: rotate(-45deg) translate(-2px, 1px);
}

.line1-reverse {
    transform: rotate(0deg) translate(0, 0);
}

.line3 {
    transform: rotate(45deg) translate(1px, 1px);
}

.line3-reverse {
    transform: rotate(0deg) translate(0, 0);
}

/* ------------------------------------------- FIN CROIX BURGER ------------------------------------------- */