@media screen and (min-width: 803px) and (orientation: portrait) {
    /* --------------------------------------------------------   Header   --------------------------------------------------------*/

    #home {
        margin-top: -89vh;
    }

    .title-home {
        font-size: 3rem;
    }

    h1 {
        font-size: 9rem;
    }

    .home-network {
        margin-top: 0vh;
    }

    .picture-linkedin {
        width: 10vw;
    }

    .picture-instagram {
        width: 10vw;
    }

    .picture-github {
        width: 10vw;
    }

    .home-scroll {
        margin-top: 15vh;
    }

    .arrow-scroll {
        width: 10vw;
    }

    /* --------------------------------------------------------   Portfolio   --------------------------------------------------------*/

    .portfolio-title {
        margin-top: 5vh;
    }
    .h2-portfolio {
        font-size: 3rem;
        margin-top: 5vh;
        margin-bottom: 0vh;
    }

    .instructions-portfolio {
        font-size: 2rem;
    }

    /* --------------------------------------------------------   Container Skills   --------------------------------------------------------*/

    #skill {
        margin-top: 5vh;
    }

    .h2-skill {
        font-size: 3rem;
        margin-top: 4.5vh;
    }

    .block {
        height: 37vh;
    }

    .block:hover::after {
        font-size: 1.15rem;
    }

    /* --------------------------------------------------------   Container About Me   --------------------------------------------------------*/

    .h2-about-me {
        font-size: 2.5rem;
        margin-top: 7vh;
    }

    .text-about-me {
        font-size: 3rem;
    }

    .mail-about-me {
        font-size: 2.3rem;
    }

    /* --------------------------------------------------------   FOOTER   --------------------------------------------------------*/

}